<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/public/style.css" />
    <script type="text/javascript" src="/public/prototype-1.6.0.2.js"></script>
    <title>{% block title %}Bill Anarchy (is Order){% endblock %}</title>
</head>

<body>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  
  <div id="menu">
    {% block menu %}{% include '_menu.html' %}{% endblock %}
  </div>
</body>
</html>
